
.pagination {
  margin-top: 12px;
  display: flex;
  flex-flow: row-reverse;
}

.el-input.date-field {
  width: 140px;
}


.el-tag.el-tag--info {
  color: #404349;
}

.el-table__expanded-cell {

  .el-collapse {
    border-top: none;
    border-bottom: none;

    .el-collapse-item {
      //margin-top: 1em;

      .el-collapse-item__header {
        //background-color: #f6f6f6;
        color: #108ee9;
        font-weight: bold;
        font-size: 1.05em;
        //padding-left: .5em;
      }

      .el-collapse-item__wrap {
        border-bottom: none;
      }
    }
  }
}


.el-collapse.oa-sent-records {
  border-top: none;
  border-bottom: none;

  .el-collapse-item {

    .el-collapse-item__wrap {
      border-bottom: none;
    }
  }
}

td.failed-rules-count {
  color: indianred;
}

.el-table__expand-column.no-expand .cell {
  display: none;
}

.el-table__expand-column.expandable .cell {

  .el-table__expand-icon {
    color: indianred;

    .el-icon {
      font-weight: bold;
    }
  }
}
