// theme-chalk default: #409EFF
$--color-primary: #108ee9;
// menu background: rgb(41, 58, 84)

$--font-path: '~element-plus/lib/theme-chalk/fonts';
@import '~element-plus/packages/theme-chalk/src/base.scss';

@import "~element-plus/packages/theme-chalk/src/checkbox";
@import "~element-plus/packages/theme-chalk/src/date-picker";
@import "~element-plus/packages/theme-chalk/src/table";
@import "~element-plus/packages/theme-chalk/src/table-column";
@import "~element-plus/packages/theme-chalk/src/pagination";
@import "~element-plus/packages/theme-chalk/src/input";
@import "~element-plus/packages/theme-chalk/src/form";
@import "~element-plus/packages/theme-chalk/src/form-item";
@import "~element-plus/packages/theme-chalk/src/button";
@import "~element-plus/packages/theme-chalk/src/loading";
@import "~element-plus/packages/theme-chalk/src/tooltip";
@import "~element-plus/packages/theme-chalk/src/collapse";
@import "~element-plus/packages/theme-chalk/src/collapse-item";
@import "~element-plus/packages/theme-chalk/src/collapse-transition";
@import "~element-plus/packages/theme-chalk/src/divider";
@import "~element-plus/packages/theme-chalk/src/switch";
@import "~element-plus/packages/theme-chalk/src/radio-group";
@import "~element-plus/packages/theme-chalk/src/radio";
@import "~element-plus/packages/theme-chalk/src/link";
@import "~element-plus/packages/theme-chalk/src/select";
@import "~element-plus/packages/theme-chalk/src/option";
@import "~element-plus/packages/theme-chalk/src/option-group";
@import "~element-plus/packages/theme-chalk/src/option-item";
@import "~element-plus/packages/theme-chalk/src/dropdown";
@import "~element-plus/packages/theme-chalk/src/dropdown-menu";
@import "~element-plus/packages/theme-chalk/src/dropdown-item";


.primary-color {
  color: $--color-primary;
}
